################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BACS2173 Assignment/.vs/BACS2173 Assignment/v16
